body {
  background-color: rgb(96, 96, 96);

  color: grey;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.exit {
  text-align: center;
  height: 3rem;
  width: 3rem;
  position: relative;
  left: 44.5rem;
  top: 4rem;
}

.rtc-return-btn {
  margin-top: 5rem;
  height: 4rem;
  width: 20rem;
}

@media only screen and (max-width: 700px) {
  .exit {
    left: 28.5rem;
  }
}

@media only screen and (max-width: 420px) {
  .exit {
    left: 26rem;
  }
}
